<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyArt</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/style50.css" %}">
</head>
<body>
<ul>
    {% if username %}
        <li class="home"><a href="/arts/all/">MyArts</a></li>
        <li><a href="/addart/">Добавить арт</a></li>
        <li><a href="/folderadd/">Добавить альбом</a></li>
        <li><a href="/userfolders/">Мои альбомы</a></li>
        <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
    {% else %}
        <li><a href="/auth/login/">Войти</a></li>
    {% endif %}
</ul>
<div class="allartscotainer">
    {% block arts %} {% endblock %}
    {% block art %} {% endblock %}
    {% block login %} {% endblock %}
    {% block register %} {% endblock %}
    {% block artadd %} {% endblock %}
    {% block addfolder %} {% endblock %}
    {% block addartinfolder %} {% endblock %}
    {% block userfolders %} {% endblock %}
    {% block artsfromfolder %} {% endblock %}
</div>
</body>
</html>